
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pilloxa.dfu">
    <application>
        <service android:name="com.pilloxa.dfu.DfuService"
            android:exported="false"
            android:process=":rnplugin0"/>
        <service android:name="com.pilloxa.dfu.DfuService1"
            android:exported="false"
            android:process=":rnplugin1"/>
        <service android:name="com.pilloxa.dfu.DfuService2"
            android:exported="false"
            android:process=":rnplugin2"/>
        <service android:name="com.pilloxa.dfu.DfuService3"
            android:exported="false"
            android:process=":rnplugin3"/>
    </application>

</manifest>
  
